<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/gameChoosing.css">
    <link rel="stylesheet" href="/css/sidePanel.css">
    <title>ChooseYourGame</title>
</head>
<body>
    {{>navbar}}
    <div id="GameChoicePageMain">
        <h1>Choose your Game Type</h1>
        <form id="form" action="/gameChoosing" method="GET">
            <select id="CategorySelector" name="Category">
                <option value="Choose a Topic" Selected >Choose A Topic </option>
                <option value="general knowledge">General Knowledge</option>
                <option value="mythology">Mythology</option>
                <option value="animals">Animals</option>
            </select>
            <br><br>
            <select id="DifficultySelector" name="Difficulty">
                <option value="Choose a Difficulty" Selected >Choose A Difficulty </option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <br><br>
            <button id="GameChoiceSubmit" type="submit">Play</button>
        </form>
    </div>

   <script  src="/main.js"></script>
    
</body>
</html>