<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <link rel="stylesheet" href="/css/sidePanel.css">
    <title>Home</title>
</head>
<body>

    {{>navbar homeActive = home}}
    <div id="Titles">
        <img id="leftQ" src="/img/QuestionMark.png" class="questionMarks" />
        <h1 id="HomeTitle"> Trivia <br> Tribunal </h1>
        <img id="rightQ" src="/img/QuestionMark.png" class="questionMarks" />
    </div>
    <div id="LogInSignUp">
        <button id="LogSignBtn" type="button">Log In / Register</button>
    </div>
    
        <script  src="/sidePanel.js"></script>

</body>
</html>