<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/sidePanel.css">

    <title> Trivia Tribunal </title>
</head>
<body>
    {{>navbar playActive = play}}

    <div id="Titles">
        <img id="leftQ" src="/img/QuestionMark.png" class="questionMarks" alt="QuestionMark"/>
        <h1> Trivia Tribunal </h1>
        <img id="rightQ" src="/img/QuestionMark.png" class="questionMarks" alt="QuestionMark"/>
    </div>

    <div>
        <h1 id="ReadyTitle"> Ready ... </h1>
        <h1 id="SteadyTitle"> Steady ...</h1>
    </div>

    <div class="WholeQuestion">
        <div class="Question">
            <h2 id="theQ"> <span class="theQ">Loading.... </span> </h2>
        </div>
        <div class="answers">

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3 id="cardContentA" class="choices"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3 id="cardContentB" class="choices"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3 id="cardContentC" class="choices"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3 id="cardContentD" class="choices"></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="BottomPageReadouts">
            <div id="QuestionTallyDiv">
                <h3 id="questionCounter"> Question: 1/10 </h3>
            </div>

            <div id="playerScore">
                <h4 id="score"> Score: 0 </h4>
            </div>

            <div id="GreenTick">
                <img class="tickNcross" src="/img/GreenTick.png" alt="tick">
            </div>
            <div id="RedCross">
                <img class="tickNcross" src="/img/RedCross.png" alt="cross">
            </div>

            <div id="TimerDiv">
                <h4 id="TickImage"> TICK</h4>
                <h3 id="countdown"> Time left: 15s</h3>
                <h4 id="TockImage"> TOCK</h4>
            </div>
        </div>
    </div>

    <script  src="/sidePanel.js"></script>
    <script  src="/main.js"></script>
    
</body>
</html>