<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <title>Document</title>
</head>
<body>
    {{> navbar}}
    <div id="LogInOrRegister">
        <div id="LogInDiv">
            <h3>Already a member? Log in here:</h3>
            <form>
                Username:<br>
                <input type="text" id="logUsername" placeholder="Username" name="firstname"><br>
                Password:<br>
                <input type="text" id="logPassword" placeholder="Password" name="lastname">
            </form>
        </div>
        <div id="RegisterDiv">
            <h3>Want to join the fun? Register here:</h3>
            <form>
                Username:<br>
                <input id="regUsername" type="text" placeholder="Username" name="username"><br>
                email:<br>
                <input id="regEmail" type="text" placeholder="email" name="email">
                Create a Password:<br>
                <input id="regPass1" type="text" placeholder="Password" name="password">
                Retype Password:<br>
                <input id="regPass2" type="text" placeholder="Retype Password" name="passwordCheck">
            </form>
        </div>
    </div>
</body>
</html>