<!DOCTYPE html> 
<html> 
<head> 
    <title> Signup Form</title> 
<link rel="stylesheet" type="text/css" href="/css/homeStyle.css"> 
</head> 

<body> 
    <ul>
        <li><a href="/.">Home</a></li>
        <li><a  href="play">Play</a></li>
        <li><a href="about">About</a></li>
        <li><a href="high-scores">High Scores</a></li>
        <a id="UserAvatar" href="profile.hbs"><img id="AvatarPic" src="/img/userAvatar.png"/></a>
    </ul>
    <div>
        <h1> Signup Successful</h1>
        <a href="http://localhost:3000/registerlogin">Log In</a>
    </div>
</body> 
</html>