<!DOCTYPE html>
<html>

<head>
    <title> Signup Form</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="/css/sidePanel.css">

</head>

<body>
    {{>navbar}}
    <div>
        <h1> Signup Successful</h1>
        <a href="http://localhost:3000/registerlogin">Log In</a>
    </div>
</body>

</html>