        <ul>
            <li><a class="active" href="index.hbs">Home</a></li>
            <li><a href="play.hbs">Play</a></li>
            <li><a href="about.hbs">About</a></li>
            <li><a href="highScores.hbs">High Scores</a></li>
            <a id="UserAvatar" href="profile.hbs"><img id="AvatarPic" src="/img/userAvatar.png"/></a>
        </ul>
