    <ul>
        <li><a href="/.">Home</a></li>
        <li><a href="play">Play</a></li>
        <li><a class="active" href="about">About</a></li>
        <li><a href="high-scores">High Scores</a></li>
        <a id="UserAvatar" href="profile.hbs"><img id="AvatarPic" src="/img/userAvatar.png"/></a>
    </ul>