<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/highscoresStyle.css">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a class="active" href="index.hbs">Home</a></li>
        <li><a href="play.hbs">Play</a></li>
        <li><a href="about.hbs">About</a></li>
        <li><a href="highScores.hbs">High Scores</a></li>
        <a id="UserAvatar" href="profile.hbs"><img id="AvatarPic" src="/img/userAvatar.png"/></a>
    </ul>
</body>
</html>