<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/mainStyle.css">
    <title> Trivia Tribunal </title>
</head>

<body>
    <ul>
        <li><a href="index.hbs">Home</a></li>
        <li><a class="active" href="play.hbs">Play</a></li>
        <li><a href="about.hbs">About</a></li>
        <li><a href="highScores.hbs">High Scores</a></li>
    </ul>
    <div id="Titles">
        <img src="/img/QuestionMark.png" class="questionMarks" />
        <h1> Trivia Tribunal </h1>
        <img src="/img/QuestionMark.png" class="questionMarks" />
    </div>

    <div class="WholeQuestion">
        <div class="Question">
            <h2 id="theQ"> <span class="theQ"> </span> </h2>
        </div>
        <div class="answers">

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3> 360,200 km</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3> 384,400 km</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3> 383,100 km</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="answer">
                <div class="flipper">
                    <div class="front">
                        <div class="cardContent">
                            <h3>Answer</h3>
                        </div>
                    </div>
                    <div class="back">
                        <div class="cardContent">
                            <h3> 391,900 km</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="playerScore">
            <h4> Score: 140 </h4>
        </div>


        <div>
            <h3 id="countdown">Time Left: 10s</h3>
        </div>

    </div>
    <script src="/js/main.js"></script>
</body>
</html>